h1 {
  background: red;
  margin: 0;
  padding: 10px;
  width: 40%;
  border: 1px solid black;
}

p {
  background: blue;
  margin: 0;
  padding: 10px;
  width: 40%;
  border: 1px solid black;
}

#par2 {

}

#par3 {

}

.hide {
  display: none;
}

.show {
  display: block;
}