section {
  overflow: hidden;
  width: 40%;
}

h1 {
  color: #fff;
  background: #00C6D6;
  margin: 0;
  padding: 10px;
  border: 2px solid #00C6D6;
}

h1:hover {
  background: #00DAEC;
  cursor: pointer;
}

p {
  z-index: -1;
  color: #777;
  margin: 0;
  height: 100px;
  border: 2px solid #00C6D6;
  transition: all 0.2s ease-in;
}

#par2 {

}

#par3 {

}

.hide {
  padding: 0px;
  height: 0px;
}
